body {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas:
    'header header header'
    'main aside nav'
    'footer footer footer';
  padding: 4rem;
  gap: 0.6rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
}

aside {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

body > * {
  border: 5px solid lightblue;
}

@media (max-width: 800px) {
  html {
    font-size: 10px;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    grid-template-areas:
      'header'
      'main'
      'aside'
      'nav'
      'footer';
  }
}

@media (max-width: 600px) {
  aside {
    display: none;
  }
  body {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 3fr 1fr 1fr;
    grid-template-areas:
      'header'
      'main'
      'nav'
      'footer';
  }
}
